@import './light.module.scss';

html {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

*, *:before, *:after {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
}

body {
    font-family: "Lato";
    margin: 0;
    height: 100vh;
    padding: 8px;
    background-color: $background;
}

#__next {
    height: 100%;
    width: 100%;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
   -webkit-box-shadow: 0 0 0 30px #7c1e4b inset !important;
}

.MuiOutlinedInput-root  {
    background: #EFF1F3;
}

.MuiTableCell-root  {
    padding: 0 14px !important;
    height: 50px;
  }

